# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Caches and logs
.ruff_cache/
.mypy_cache/
logs/

# Docker
Dockerfile
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo
